.test_container{
    position: relative;
}
.test_container h3{
    position: absolute;
    letter-spacing: 10px;
    font-size: 7rem;
    font-style: italic;
    color: #080d21;
    opacity: 0.2;
    text-align: center;
    left: 0;
    right: 0;
}
@media screen and (max-width: 600px) {
   .test_container h3{
    font-size: 3rem;
    top: 44px;
   }
   .carousal_container{
    display: flex;
    justify-items: center;
    justify-content: center;
    
   }
}
.test_head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 53px;
}
  .carousal_container{
    display: flex;
    margin-top: 50px;
    justify-items: center;
    justify-content: center;
   }
.carousal_container > div{
    background-color: white;
    width: 400px;
    padding: 20px;
    margin-top: 15px;
    height: 150px;
}
#p2{
    /* font-size: 18px; */
    /* line-height: 1.5; */
    /* text-align: center; */
}