*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* overflow-y: hidden; */
    background-color: #ececec;
     overflow-x:  hidden;
}
body{
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 600px) {
    html{
        
    }
}